/* vim:set sts=4 sw=4 ts=4 expandtab: */

/*
 * 基本情報入力コンポーネント用のスタイル定義
 * CSS Modules用
 */

/* タイトル */
.title {
    composes: header from "./app.css";
}


/* テーブル */

.base {
    composes: base from "./tables.css";
}

.row {
    composes: row from "./tables.css";
}

.header {
    composes: header from "./tables.css";
}

.input {
    composes: input from "./app.css";
}

.cell {
    composes: data from "./tables.css";
}


/* 入力ボックス */

.job {
    composes: input;
}

.rank {
    composes: input;
    composes: width50 from "./app.css";
}

.ship_bonus {
    composes: input;
    composes: width50 from "./app.css";
}

.attribute_bonus {
    composes: input;
}

.hp_percent {
    composes: width50 from "./app.css";
    composes: input;
}

.atk_percent {
    composes: width25 from "./app.css";
    composes: input;
}

.atk_value {
    composes: width50 from "./app.css";
    composes: input;
}
