/* vim:set sts=4 sw=4 ts=4 expandtab: */

/*
 * 計算機コンポーネントにかかるスタイル
 *
 * CSS Modules用
 */

/* 画面全体の構成 */

.app {
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.whole_app {
    composes: app;
    width : 1020px;
}

.header_box {
    margin : 5px;
    width : 100%;
}

.left_box {
    margin : 5px;
    float: left;
    width : 200px;
}

.right_box {
    margin : 5px;
    float: left;
    width : auto;
}

.footer_box {
    clear : left;
    margin : 5px;
    width : 1000px;
}

.whole_title {
    color: #ffffff;
    background-color: #2a2a2a;
    font-size: 16pt;
    line-height: 1em;
    margin: 10px 0px;
    padding: 5px 5px;
    box-shadow:1px 3px 7px 0px #666666 ;
    border-bottom: 3px solid #ff6347;
    border-radius: 5px;
}

.title {
    composes: header from "./app.css";
}

/* テーブル */

.base {
    composes: base from "./tables.css";
}

.row {
    composes: row from "./tables.css";
}

.header {
    composes: header from "./tables.css";
}

.cell {
    composes: data from "./tables.css";
}

.result {
    composes: cell;
    width: 5em;
}

/* タイトル */
.title {
    composes: header from "./app.css";
}

